body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-field label {
  display: block;
}
.form-field .form-check {
  display: inline-block;
  padding-right: 15px;
}
select.form-control.country-codes {
  width: 10%;
  float: left;
}

.country-and-number input.form-control {
  width: 89%;
  float: right;
}